/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: JetBrainsMonoExtraBold;
	src: url("./fonts/JetBrainsMono/JetBrainsMono-ExtraBold.ttf");
}

@font-face {
	font-family: JetBrainsMonoBold;
	src: url("./fonts/JetBrainsMono/JetBrainsMono-Bold.ttf");
}

@font-face {
	font-family: JetBrainsMono;
	src: url("./fonts/JetBrainsMono/JetBrainsMono-Medium.ttf");
}

@font-face {
	font-family: Neuropolitical;
	src: url("./fonts/Neuropolitical.ttf");
}

@font-face {
	font-family: Robtronika;
	src: url("./fonts/Robtronika.ttf");
}

@font-face {
	font-family: SpaceGrotesk;
	src: url("./fonts/SpaceGrotesk-Bold.ttf");
}

.no-scrollbar::-webkit-scrollbar {
	width: 0;
	display: none;
}

.no-scrollbar::-webkit-scrollbar-track {
	width: 0;
	display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
	width: 0;
	display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb:hover {
	width: 0;
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

html,
body {
	width: 100vw;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

#__next {
	height: 100%;
}

p {
	margin: 0;
}

.chakra-container {
	height: 100%;
}

.poap {
	column-gap: 2rem !important;
}

.chakra-modal__overlay {
	z-index: 3 !important;
}

.chakra-modal__content-container {
	z-index: 3 !important;
}

/*mobile*/
@media screen and (max-width: 600px) {
	.chat-panel {
		/* padding-bottom: 55px; */
	}
	.base-modal {
		width: calc(100vw - 40px) !important;
	}

	.ai-right-content-width {
		max-width: calc(100% - 90px) !important;
	}

	.ai-left-content-width {
		max-width: inherit !important;
		width: calc(100% - 65px) !important;
	}

	.chat-left-content > div {
		padding: 0 8px;
	}
	.chat-card {
		padding: 10px !important;
	}

	.dottedLine {
		justify-content: center;
	}
	.dottedLine::after {
		display: none;
	}
	.ens {
		flex-direction: column !important;
	}
	.ens > div {
		width: 100% !important;
	}
	.poap {
		column-gap: 1.5rem !important;
	}
	.slider-arrow {
		display: none !important;
	}
	.snapshot-table {
		min-width: 100% !important;
	}
}

@media screen and (max-width: 750px) {
	.ai-not-show {
		display: none !important;
	}

	.ai-right-content-width {
		max-width: calc(100% -100px) !important;
	}

	.ai-left-content-width {
		max-width: inherit !important;
		width: calc(100% - 90px) !important;
	}

	.dottedLine {
		justify-content: center;
	}
	.dottedLine::after {
		display: none;
	}

	.ens {
		flex-direction: column !important;
	}
	.ens > div {
		width: 100% !important;
	}
	.poap {
		column-gap: 1.5rem !important;
	}
	.slider-arrow {
		display: none !important;
	}
	.snapshot-table {
		min-width: 100% !important;
	}
}

.tooltip > a {
	display: inline-block;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	background-color: #d2d2d2 !important;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transform: translateY(-2px);
	color: #24292f !important;
	font-weight: 500;
	font-size: 12px;
	margin-left: 3px;
}

.tooltip > a:hover {
	background-color: #487c7e !important;
	color: #fff !important;
}

.tooltip-text {
	background-color: #dae5e5;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	z-index: 100;
	top: 40px;
	opacity: 0;
	transform: translateX(-50%);
	transition: opacity 0.3s;
	word-wrap: break-word;
	word-break: break-all;
	color: #357e7f;
	border: 1px solid #dae5e5;
	font-size: 16px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.click-item-1,
.click-item-2 {
	border-bottom: 1px dashed #24292f !important;
	color: #24292f !important;
}

.underline {
	text-decoration-line: none !important;
}

.carousel .slide .pass-img {
	width: 40px !important;
}

.chakra-toast .chakra-alert {
	border-radius: 40px;
	background: white;
	margin-top: 50px;
}

.rv-overlay {
	background: rgba(0, 0, 0, 0.4);
}
