/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Robtronika;
	src: url("./fonts/Robtronika.ttf");
}

@font-face {
	font-family: SpaceGrotesk;
	src: url("./fonts/SpaceGrotesk-Bold.ttf");
}

.no-scrollbar::-webkit-scrollbar {
	width: 0;
	display: none;
}

.no-scrollbar::-webkit-scrollbar-track {
	width: 0;
	display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb {
	width: 0;
	display: none;
}

.no-scrollbar::-webkit-scrollbar-thumb:hover {
	width: 0;
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}

html,
body {
	width: 100vw;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

#__next {
	height: 100%;
}

p {
	margin: 0;
}

.chakra-container {
	height: 100%;
	/* position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	overflow: hidden; */
}

.poap {
	column-gap: 2rem !important;
}

/*mobile*/
@media screen and (max-width: 600px) {
	.base-modal {
		width: calc(100vw - 40px) !important;
	}

	.ai-right-content-width {
		max-width: calc(100% - 90px) !important;
	}

	.ai-left-content-width {
		max-width: inherit !important;
		width: calc(100% - 65px) !important;
	}

	.chat-left-content > div {
		padding: 0 8px;
	}
	.chat-card {
		padding: 10px !important;
	}

	.invite-gift {
		display: none;
	}
	.invite-content {
		width: calc(100vw - 30px) !important;
	}
	.invite-body {
		padding-inline-start: 15px !important;
		padding-inline-end: 15px !important;
	}
	.invite-refer {
		padding-left: 30px;
	}
	.invite-title {
		white-space: nowrap;
		font-size: 22px;
		padding-left: 20px;
	}
	.invite-ul {
		padding-top: 30px;
	}
	.invite-ul h2 {
		white-space: nowrap;
		font-size: 16px;
	}

	.invite-ul p {
		font-size: 13px;
	}
	.invite-3 {
		justify-content: center;
	}
	.dottedLine {
		justify-content: center;
	}
	.dottedLine::after {
		display: none;
	}
	.ens {
		flex-direction: column !important;
	}
	.ens > div {
		width: 100% !important;
	}
	.poap {
		column-gap: 1.5rem !important;
	}
	.slider-arrow {
		display: none !important;
	}
	.snapshot-table {
		min-width: 100% !important;
	}
}

@media screen and (max-width: 750px) {
	.ai-not-show {
		display: none !important;
	}

	.ai-right-content-width {
		max-width: calc(100% -100px) !important;
	}

	.ai-left-content-width {
		max-width: inherit !important;
		width: calc(100% - 90px) !important;
	}

	.invite-refer {
		padding-left: 30px;
	}

	.invite-title {
		white-space: nowrap;
		font-size: 22px;
		padding-left: 20px;
	}

	.invite-3 {
		justify-content: center;
	}
	.dottedLine {
		justify-content: center;
	}
	.dottedLine::after {
		display: none;
	}

	.ens {
		flex-direction: column !important;
	}
	.ens > div {
		width: 100% !important;
	}
	.poap {
		column-gap: 1.5rem !important;
	}
	.slider-arrow {
		display: none !important;
	}
	.snapshot-table {
		min-width: 100% !important;
	}
}
