.chat-input {
	margin-bottom: 4px !important;
}

.chat-input > .rv-textarea__control {
	width: 100% !important;
	outline: none;
	resize: none;
	line-height: 23px;
}

.chat-input > .rv-textarea__control ::-webkit-scrollbar {
	width: 0;
	display: none;
}

.move-left {
	transform: translate(0vw, 0px);
	transition: transform 0.3s ease-in-out;
}

.move-left > div:nth-child(2) {
	border-radius: 20px;
	margin: 20px 0;
	height: calc(100% - 40px);
}

.move-right {
	height: 100%;
	transform: translate(-80vw, 0px);
	transition: transform 0.2s ease-in-out;
}

.nav-bar .rv-nav-bar__content {
	height: 55px;
	overflow: hidden;
}

.nav-bar .rv-nav-bar__left,
.nav-bar .rv-nav-bar__right {
	padding: 10px;
}

.nav-bar .rv-nav-bar__title {
	width: 180px;
}

.nav-bar .rv-tabs {
	margin-left: -20px;
}

.nav-bar .rv-tabs__wrap {
	height: 100%;
}

.nav-bar .rv-tabs__nav {
	padding-bottom: 0;
}

.custom-indicator {
	position: absolute;
	right: 10px;
	bottom: 8px;
	padding: 1px 4px;
	color: #fff;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 2px;
}

.quest .rv-tab {
	display: none;
}

.quest .rv-tab--active {
	display: flex;
}

.quest .rv-coupon-list__bottom {
	display: none;
}

.quest .rv-coupon-list__empty {
	display: none;
}

.quest .rv-tabs__line {
	width: 80px;
	background: #ee6f2d;
	transform: translateX(205px) translateX(-50%) !important;
}

.quest .rv-tab__text {
	color: #ee6f2d;
	font-weight: 600;
}

.quest .rv-coupon-list__list {
	height: inherit;
}
/*  */
